<!-- Main Menu Starts -->
	<nav id="nav" class="main-menu navbar flat">
	<!-- Nested Container Starts -->
		<div class="container">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle flat animation" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav text-uppercase text-bold">
					<li class="menu-item-home"><a href="/">首页</a></li>
					<li class="menu-item-about"><a href="/index/about">About Us</a></li>
					<li class="menu-item-listing"><a href="/index/listing">Food List</a></li>
					<li class="menu-item-grid"><a href="/index/grid">Food Grid</a></li>
					<li class="menu-item-details"><a href="/index/details">Food Detail</a></li>
					<li class="menu-item-login"><a href="/index/login">Login &amp; Register</a></li>
					<li class="menu-item-terms"><a href="/index/terms">Terms</a></li>
					<li class="menu-item-policy"><a href="/index/policy">Policy</a></li>
					<li class="menu-item-contact"><a href="/index/contact">Contact Us</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu flat pull-right-md pull-right-sm">
							<li class="menu-item-home"><a tabindex="-1" href="/"><i class="fa fa-angle-right"></i> Home</a></li>
							<li class="menu-item-about"><a tabindex="-1" href="/index/about"><i class="fa fa-angle-right"></i> About Us</a></li>
							<li class="menu-item-listing"><a tabindex="-1" href="/index/listing"><i class="fa fa-angle-right"></i> Food List</a></li>
							<li class="menu-item-grid"><a tabindex="-1" href="/index/grid"><i class="fa fa-angle-right"></i> Food Grid</a></li>
							<li class="menu-item-details"><a tabindex="-1" href="/index/details"><i class="fa fa-angle-right"></i> Food Detail</a></li>
							<li class="menu-item-login"><a tabindex="-1" href="/index/login"><i class="fa fa-angle-right"></i> Login &amp; Register</a></li>
							<li class="menu-item-terms"><a tabindex="-1" href="/index/terms"><i class="fa fa-angle-right"></i> Terms</a></li>
							<li class="menu-item-policy"><a tabindex="-1" href="/index/policy"><i class="fa fa-angle-right"></i> Policy</a></li>
							<li class="menu-item-contact"><a tabindex="-1" href="/index/contact"><i class="fa fa-angle-right"></i> Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</div>
	<!-- Nested Container Ends -->
	</nav>
<!-- Main Menu Ends -->
