{% extends "./inc/base.html" %}

{% block content %}
<!-- Main Banner Section Starts -->
	<section class="main-banner three flip parallax">
	<!-- Nested Container Starts -->
		<div class="container">
			<h1 class="text-center">Terms &amp; Conditions</h1>
		</div>
	<!-- Nested Container Ends -->
	</section>
<!-- Main Banner Section Ends -->
<!-- Main Container Starts -->
	<div class="container main-container">
		<h5 class="text-bold text-uppercase">1. ACCEPTANCE OF TERMS</h5><br>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. We value creativity, hard work, initiative and radical ideas. If this sounds exciting to you, then come have a chat with us ASAP.</p>
		<p class="clause-style-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
		<div class="spacer-1 medium"></div>
		<h5 class="text-bold text-uppercase">2. USE OF SERVICES BY YOU OR USER</h5><br>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. We value creativity, hard work, initiative and radical ideas. If this sounds exciting to you, then come have a chat with us ASAP.</p>
		<p class="clause-style-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
		<div class="spacer-1 medium"></div>
		<h5 class="text-bold text-uppercase">3. CHANGES TO THE TERMS &amp; CONDITIONS</h5>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. We value creativity, hard work, initiative and radical ideas. If this sounds exciting to you, then come have a chat with us ASAP.</p>
		<div class="spacer-1 medium"></div>
		<h5 class="text-bold text-uppercase">4. USE THE SERVICES</h5>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. We value creativity, hard work, initiative and radical ideas. If this sounds exciting to you, then come have a chat with us ASAP.</p>
		<div class="spacer-1 medium"></div>
		<h5 class="text-bold text-uppercase">5. RESTRICTIONS ON USE</h5>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<ul class="list-style-4">
			<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>
			<li>Randomised words which don't look even slightly believable.</li>
			<li>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </li>
			<li>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</li>
			<li>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum reasonable.</li>
			<li>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</li>
		</ul>
	</div>
<!-- Main Container Ends -->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('#termsMenuItem').addClass("active");
});
</script>
{% endblock %}
