{% extends "./inc/base.html" %}

{% block content %}
<!-- Main Banner Section Starts -->
	<section class="main-banner three flip parallax">
	<!-- Nested Container Starts -->
		<div class="container">
			<h1 class="text-center">Partner With Us</h1>
		</div>
	<!-- Nested Container Ends -->
	</section>
<!-- Main Banner Section Ends -->
<!-- Main Container Starts -->
	<div class="container main-container">
		<section class="contact-form-section">
			<h3 class="text-bold text-center">To Get Listed in FoodBingo add your restaurant...</h3>
			<form action="#">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-fname">First Name</label>
							<input type="text" class="form-control flat" id="contact-fname" placeholder="First Name">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-lname">Last Name</label>
							<input type="text" class="form-control flat" id="contact-lname" placeholder="Last Name">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-email">E-mail</label>
							<input type="email" class="form-control flat" id="contact-email" placeholder="E-mail">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-phoneno">Phone No</label>
							<input type="text" class="form-control flat" id="contact-phoneno" placeholder="Phone No">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-city">City</label>
							<input type="text" class="form-control flat" id="contact-city" placeholder="City">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-address">Address</label>
							<input type="text" class="form-control flat" id="contact-address" placeholder="Address">
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-restaurant-name">Name of the Restaurant</label>
							<input type="text" class="form-control flat" id="contact-restaurant-name" placeholder="Name of the Restaurant">
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label class="sr-only" for="contact-info">Describe About Your Restaurant</label>
							<textarea class="form-control flat" id="contact-info" placeholder="Describe About Your Restaurant" rows="5"></textarea>
						</div>
					</div>
					<div class="col-xs-12 text-center">
						<button type="submit" class="btn btn-secondary text-uppercase animation">Submit Your Details</button>
					</div>
				</div>
			</form>
		</section>
	</div>
<!-- Main Container Ends -->
<!-- Contact Details Section Starts -->
	<section class="contact-details">
	<!-- Nested Container Starts -->
		<div class="container text-center-xs">
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Left Column Starts -->
				<div class="col-md-8 col-xs-12">
					<div class="contact-left-col">
						<h5>For any enquiries, please call your nearest office</h5>
						<ul class="list-unstyled row">
							<li class="col-sm-3 col-xs-12">
								<h6>Australia</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Ireland</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Czech Republic</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>India</h6>
								+61 123 456 7890
							</li>
						</ul>
						<ul class="list-unstyled row">
							<li class="col-sm-3 col-xs-12">
								<h6>Poland</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>China</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>USA</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Mexico</h6>
								+61 123 456 7890
							</li>
						</ul>
						<ul class="list-unstyled row">
							<li class="col-sm-3 col-xs-12">
								<h6>Vietnam</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Portugal</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Koria</h6>
								+61 123 456 7890
							</li>
							<li class="col-sm-3 col-xs-12">
								<h6>Africa</h6>
								+61 123 456 7890
							</li>
						</ul>
					</div>
				</div>
			<!-- Left Column Ends -->
			<!-- Right Column Starts -->
				<div class="col-md-4 col-xs-12">
					<div class="contact-right-col">
						<h5>Contact our customer service</h5>
						<ul class="list-unstyled">
							<li class="row">
								<div class="col-xs-2"><i class="fa fa-map-marker"></i></div>
								<div class="col-xs-10">
									<h6>A Unit of Sainath Chillapuram’s and FoodBingo Bvt.Lpt</h6>
									<p>
										#11-13-999/21 BA Sector-7 Chiran Fort Colony,<br>
										Vanastalipuram, LB Nagar, RR Dist,<br>
										( Hyderabad - 500071 ) Telangana, INDIA.
									</p>
								</div>
							</li>
							<li class="row">
								<div class="col-xs-2"><i class="fa fa-phone"></i></div>
								<div class="col-xs-10">
									+91-969 956 9999, 960 123 4567
								</div>
							</li>
							<li class="row">
								<div class="col-xs-2"><i class="fa fa-comment"></i></div>
								<div class="col-xs-10">
									<a href="skype:skypechat.live?chat">Start chat</a>
								</div>
							</li>
							<li class="row">
								<div class="col-xs-2"><i class="fa fa-envelope "></i></div>
								<div class="col-xs-10">
									<a href="mailto:info@foodbingodomain.com">info@foodbingodomain.com</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			<!-- Right Column Ends -->
			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Nested Container Ends -->
	</section>
<!-- Contact Details Section Ends -->
<!-- Map Starts -->
	<div class="contact-page-map"></div>
<!-- Map Ends -->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('#contactMenuItem').addClass("active");
});
</script>
{% endblock %}
