{% extends "./inc/base.html" %}

{% block style %}
<style>
table th{
	text-align: center;
}
</style>
{% endblock %}

{% block content %}
<!-- Search Section Starts -->
	<section class="search-area condensed parallax">
	<!-- Nested Container Starts -->
		<div class="container text-center">
			<h3 class="text-normal">Find the best Restaurants, Cafes &amp; Cuisine in Your Place</h3>
			<form class="top-search" action="/index/listing">
				<div class="input-group-md">
					<div class="input-group-btn search-panel">
						<button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-map-marker"></span>
							<span class="text-label">Please type location</span>
							<span class="fa fa-angle-down"></span>
						</button>
						<ul class="dropdown-menu flat" role="menu">
							<li><a href="#">All of Texas</a></li>
							<li class="lead text-uppercase">Popular Places</li>
							<li><a href="#">Huston, Texas</a></li>
							<li><a href="#">San Antonio, Texas</a></li>
							<li><a href="#">Galveston, Texas</a></li>
							<li><a href="#">Corpus Christi, Texas</a></li>
						</ul>
					</div>
					<div class="form-group">
						<div class="icon-addon addon-lg">
							<label class="fa fa-search"></label>
							<input type="text" class="form-control input-lg flat" name="q" placeholder="Search for a Restaurants, Cafes, Cuisine, etc..,">
						</div>
					</div>
					<span class="input-group-btn">
						<button class="btn btn-lg btn-secondary animation text-uppercase" type="submit">Search</button>
					</span>
				</div>
			</form>
		</div>
	<!-- Nested Container Ends -->
	</section>
<!-- Search Section Ends -->
<!-- BreadCrumb Starts -->
	<div class="breadcrumb flat">
	<!-- Nested Container Starts -->
		<div class="container text-center-sm text-center-xs">
			<ul class="list-unstyled list-inline">
				<li><a href="index.html">Home</a></li>
				<li><a href="#">Restaurants in Hyderabad</a></li>
				<li><a href="#">Begumpet</a></li>
				<li class="active">Hyderabad Spl Food Dabha</li>
			</ul>
		</div>
	<!-- Nested Container Ends -->
	</div>
<!-- BreadCrumb Ends -->
<!-- Main Container Starts -->
	<div class="container main-container">
	<!-- Heading Starts -->
		<h4 class="main-heading-1 text-center-sm text-center-xs">
			{{info.mc}}
		</h4>
	<!-- Heading Ends -->
	<!-- Nested Row Starts -->
		<div class="row">
		<!-- Mainarea Starts -->
			<div class="col-md-12 col-xs-12">
			<!-- Menu Tabs Starts -->
				<div class="menu-tabs-wrap">
				<!-- Menu Tabs List Starts -->
					<ul class="nav nav-tabs nav-menu-tabs text-center-xs">
						<li class="active"><a href="#menu" data-toggle="tab">基本信息</a></li>
						<li><a href="#information" data-toggle="tab">经营状况</a></li>
						<li><a href="#gallery" data-toggle="tab">财务报表</a></li>
						<li><a href="#reviews" data-toggle="tab">新闻资讯</a></li>
						<li><a href="#reachus" data-toggle="tab">专家点评</a></li>
					</ul>
				<!-- Menu Tabs List Ends -->
					<div class="row ">
					<!-- Menu Tabs Content Starts -->
						<div class="tab-content col-md-9">
						<!-- Tab #1 Starts -->
							<div id="menu" class="tab-pane active">
							<!-- Tab #1 Nested Row Starts -->
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">基本信息</div>
											<div class="panel-body row">
												<div class="col-sm-6">
													统一社会信用代码
												</div>
												<div class="col-sm-6">
													名称
												</div>
												<div class="col-sm-6">
													类型
												</div>
												<div class="col-sm-6">
													法定代表人
												</div>
												<div class="col-sm-6">
													注册资本
												</div>
												<div class="col-sm-6">
													成立日期
												</div>
												<div class="col-sm-12">
													住所
												</div>
												<div class="col-sm-6">
													营业期限自
												</div>
												<div class="col-sm-6">
													营业期限至
												</div>
												<div class="col-sm-12">
													经营范围
												</div>
												<div class="col-sm-6">
													登记机关
												</div>
												<div class="col-sm-6">
													核准日期
												</div>
												<div class="col-sm-12">
													登记状态
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">股东信息</div>
											<table class="table table-bordered">
												<tr>
													<th>股东类型</th>
													<th>股东</th>
													<th>证照/证件类型</th>
													<th>证照/证件号码</th>
													<th>详情</th>
												</tr>
												<tr>
													<td>1</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
												<tr>
													<td>1</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">股东及出资信息</div>
											<table class="table table-bordered">
												<tr>
													<th rowspan="2">股东</th>
													<th rowspan="2">认缴额（万元）</th>
													<th rowspan="2">实缴额（万元）</th>
													<th colspan="3">认缴明细</th>
													<th colspan="3">实缴明细</th>
												</tr>
												<tr>
													<th>认缴出资方式</th>
													<th>认缴出资额（万元）</th>
													<th>认缴出资日期</th>
													<th>实缴出资方式</th>
													<th>实缴出资额（万元）</th>
													<th>实缴出资日期</th>
												</tr>
												<tr>
													<td>1</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
												<tr>
													<td>1</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
											</table>
										</div>
									</div>



									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">变更信息</div>
											<table class="table table-bordered">
												<tr>
													<th>变更事项</th>
													<th>变更前内容</th>
													<th>变更后内容</th>
													<th>变更日期</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>2</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">主要人员</div>
											<table class="table table-bordered">
												<tr>
													<th>序号</th>
													<th>姓名</th>
													<th>职务</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">分支机构信息</div>
											<table class="table table-bordered">
												<tr>
													<th>序号</th>
													<th>统一社会信用代码</th>
													<th>名称</th>
													<th>登记机关</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">动产抵押登记信息</div>
											<table class="table table-bordered">
												<tr>
													<th>序号</th>
													<th>登记编号</th>
													<th>登记日期</th>
													<th>登记机关</th>
													<th>被担保债权数额</th>
													<th>状态</th>
													<th>详情</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">股权出质登记信息</div>
											<table class="table table-bordered">
												<tr>
													<th>序号</th>
													<th>登记编号</th>
													<th>出质人</th>
													<th>证照/证件号码</th>
													<th>出质股权数额</th>
													<th>质权人</th>
													<th>证照/证件号码</th>
													<th>股权出质设立登记日期</th>
													<th>状态</th>
													<th>变化情况</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
													<td>1</td>
												</tr>
											</table>
										</div>
									</div>

									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">企业年报</div>
											<table class="table table-bordered">
												<tr>
													<th>序号</th>
													<th>报送年度</th>
													<th>发布日期</th>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>1</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							<!-- Tab #1 Nested Row Ends -->
							</div>
						<!-- Tab #1 Ends -->
						<!-- Tab #2 Starts -->
							<div id="information" class="tab-pane">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="panel panel-default">
										  <div class="panel-heading">
												产品
											</div>
											<ul class="list-group">
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">斗鱼TV</h4>
													    网址:http://www.douyutv.com 领域:网络直播
													  </div>
													</div>
												</li>
										  </ul>
										</div>

										<div class="panel panel-default">
										  <div class="panel-heading">
										    招聘
										  </div>
											<ul class="list-group">
										    <li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
												<li class="list-group-item">
													<div class="media">
													  <div class="media-left">
													    <a href="#">
													      <img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">Java开发工程师</h4>
													    月薪:5000-8000 地点:盐城 来源:智联招聘
													  </div>
													</div>
												</li>
										  </ul>
										</div>
									</div>
								</div>
							</div>
						<!-- Tab #2 Ends -->
						<!-- Tab #3 Starts -->
							<div id="gallery" class="tab-pane">
								<div class="col-sm-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-heading">资产负债表</div>
										<table class="table table-bordered">
											<tr>
												<td>报告期日</td>
												<td>2015-12-31</td>
												<td>2015-06-30</td>
											</tr>
											<tr>
												<td>货币资金</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>交易行金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>可出售金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>固定资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>无形资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>长期股权投资</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>总资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付利息</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付职工薪酬</td>
												<td>1</td>
												<td>1</td>
											</tr>
										</table>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading">利润表</div>
										<table class="table table-bordered">
											<tr>
												<td>报告期日</td>
												<td>2015-12-31</td>
												<td>2015-06-30</td>
											</tr>
											<tr>
												<td>货币资金</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>交易行金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>可出售金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>固定资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>无形资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>长期股权投资</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>总资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付利息</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付职工薪酬</td>
												<td>1</td>
												<td>1</td>
											</tr>
										</table>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading">现金流量表</div>
										<table class="table table-bordered">
											<tr>
												<td>报告期日</td>
												<td>2015-12-31</td>
												<td>2015-06-30</td>
											</tr>
											<tr>
												<td>货币资金</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>交易行金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>可出售金融资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>固定资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>无形资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>长期股权投资</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>总资产</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付利息</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td>应付职工薪酬</td>
												<td>1</td>
												<td>1</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						<!-- Tab #3 Ends -->
						<!-- Tab #4 Starts -->
							<div id="reviews" class="tab-pane">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">新闻1</h4>
												新闻1简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">新闻2</h4>
												新闻2简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">新闻3</h4>
												新闻3简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">新闻4</h4>
												新闻4简介
											</div>
										</div>
									</li>
								</ul>
							</div>
						<!-- Tab #4 Ends -->
						<!-- Tab #5 Starts -->
							<div id="reachus" class="tab-pane">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">点评1</h4>
												点评1简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">点评2</h4>
												点评2简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">点评3</h4>
												点评3简介
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="http://www.atool.org/placeholder.png?size=64x64" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">点评4</h4>
												点评4简介
											</div>
										</div>
									</li>
								</ul>
							</div>
						<!-- Tab #5 Ends -->
						</div>
					<!-- Menu Tabs Content Ends -->
						<div class="col-md-3">
							11111
						</div>
				</div>
				</div>
			<!-- Menu Tabs Ends -->
			</div>
		<!-- Mainarea Ends -->

		</div>
	<!-- Nested Row Ends -->
	</div>
<!-- Main Container Ends -->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('.menu-item-details').addClass("active");
});
</script>
{% endblock %}
